body {
  font-family: Quicksand, sans-serif;
  background-color: #222831;
}

img {
  margin: auto;
  
}

.avatar {
  vertical-align: middle;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

a {
  color: #00ADB5;
  text-decoration: none;
}

a:hover {
  color: white;
}

.container {
  align-items: center;
  margin-bottom: 10em;
}

.level1 {
  font: Medium 500;
  font-size: 30px;
  color: white;
}

.level2 {
  text-align: "left";
  font: Medium 500;
  font-size: 20px;
  color: whitesmoke;
}

.level3 {
  text-align: "left";
  font: regular 300;
  color: #aaaaaa;
  font-size: 15px;
}
.level4 {
  text-align: "left";
  font: regular 300;
  color: #aaaaaa;
  font-size: 13px;
}

.level_contact {
  font: Medium 50;
  font-size: 15px;
  color: lightgray;
  word-spacing: 2px;
}

#jt1 {
  padding-top: 2em;
  font-size: 18px;
  font: Regular 300;
  word-spacing: 30px;
  text-align: center;
  margin: auto;
  overflow-wrap: normal;
}

#jt2 {
  align-items: center;
  text-align: center;
}

#jt3 {
  margin-left: 10em;
  margin-right: 10em;
}

#jt4 {
  padding-top: 2em;
  margin-left: 8em;
  margin-right: 8em;
}

#jt_contact {
  padding-top: 10em;
  font-size: 18px;
  font: Regular 400;
  word-spacing: 20px;
 }

 #conmain {
   align-items: center;
   margin: auto;
 }

.lin1 {
  margin-left: 30em;
  margin-right: 30em;
  border-width: 1px;
  color: lightgray;
}


.lin2 {
  margin-left: 36em;
  margin-right: 35em;
  border-width: 1px;
  color: lightgray;
}

.lin3 {
  color: lightgray;
  border-width: 1px;
}
#col1 {
  margin: auto;
  padding: 50px;
  text-align: right;
}

#col {
    margin: auto;
    text-align: justify;
    padding-top: 3em;
    padding-bottom: 2em;
}

.Projpix {
    
    width: 320px;
    height: 320px;
    object-fit: cover;
}

#con1{
  text-align: left;
  margin: auto;
}

#r1{
  margin-top: 2em;
  margin-bottom: -10em;
}