body{
  font-family: Quicksand, sans-serif;
  background-color: #222831;}

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar2 {
  vertical-align: middle;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

img {
  margin: 1em;
  height: 170px;
  width: 170px;
}

a {
  color: #00ADB5;
  text-decoration: none;
}

a:hover {
  color: #aaaaaa;
}

.stuff {
  text-decoration: underline;
  color: #aaaaaa;
}

.stuff:hover {
  color: lightgray;
}

.lin1 {
  margin-left: 28em;
  margin-right: 28em;
  border-width: 1px;
  color: white;
}

.lin2 {
  margin-left: 36em;
  margin-right: 35em;
  border-width: 1px;
  color: white;
}

.lin3 {
  margin-left: 5em;
  margin-right: 5em;
  
  color: white;
}

.lin2c {
  color: lightgray;
  border-width: 1px;
}

.level1 {
    padding-top: 1em;
  font: Medium 500;
  font-size: 30px;
  color: lightgray;
}

.level2 {
    font: Medium 50;
    font-size: 15px;
    color: lightgray;
}


.level3 {
  text-align: center;
  font: Regular 300;
  font-size: 20px;
  color: #aaaaaa;
}

.level2b {
  text-align: "left";
  font: Medium 500;
  font-size: 15px;
  color: whitesmoke;
}

.level2c {
  text-align: "left";
  font: regular 300;
  color: #aaaaaa;
  font-size: 15px;
}
.level2d {
  text-align: "left";
  font: regular 300;
  color: #aaaaaa;
  font-size: 13px;
}

#jt1 {
  padding-top: 90px;
}

#jt2 {
 padding-top: 10px;
 font-size: 18px;
 font: Regular 400;
 word-spacing: 20px;
}

#jt3 {
  padding-top: 1em;
  font: Light 300;
  text-align: "center";
  margin: auto;
}

#jt_contact {
  padding-top: 4em;
  font-size: 18px;
  font: Regular 400;
  word-spacing: 2px;
 }

#txt1 {
  color: lightgrey;
}

#col2a {
  padding-top: 1em;
  padding-bottom: 10em;
}

.Projpix {
  margin: auto;
  object-fit: cover;
}

#con2a{
margin-bottom: -7em;
}

#r2a{
margin-top: 2em;
margin-bottom: -10em;
}